apache-airflow==2.9.3
apache-airflow-providers-google==10.22.0
apache-airflow-providers-cncf-kubernetes==8.4.2
google-cloud-bigquery==3.25.0
google-cloud-storage==2.18.2
google-api-python-client==2.143.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
sqlalchemy==2.0.35
pymysql==1.1.1
cryptography==43.0.1
requests==2.32.3
kubernetes==30.1.0
