cryptobanter_snowflake:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: TRANSFORMER
      database: CRYPTOBANTER_RAW
      warehouse: COMPUTE_WH
      schema: RAW
      threads: 4
      client_session_keep_alive: false
      query_tag: "dbt-dev"
    prod:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: TRANSFORMER
      database: CRYPTOBANTER_RAW
      warehouse: COMPUTE_WH
      schema: RAW
      threads: 8
      client_session_keep_alive: false
      query_tag: "dbt-prod"
